.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 35vh;
  margin-top: 20px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);

  &_img {
    height: 25vh;
  }

  &_title{
    text-align: center;
    color: $color_icon;
    font-family: $font-montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-left: 10px;
  }

  &_tech{
    text-align: center;
    color: $color_icon;
    font-family: $font-montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 10px;
    margin-left: 10px;
  }
}


