.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  background-color: $bg_gris;
  // border-radius: 0px 0px 40px 40px;
  // margin-bottom: 20px;

  &_photo {
    background-image: url(../images/perfil.jpeg);
    background-size: cover;
    background-position: center;
    width: 145px;
    height: 145px;
    border: 3px solid $color_white;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 145px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
  }

  &_name {
    color: $color_green;
    text-transform: uppercase;
    font-family: $font-montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
  }

  &_job {
    color: $color_icon;
    font-family: $font-montserrat;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
  }
}

.icon {
  display: flex;
  gap: 30px;

  &_link {
    font-size: 20px;
    color: $color_icon;
  }
}

.containergeneral{
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 12px;
  background-color: $bg_gris;
  border-radius: 6px;
  border: 1px solid $color_white;
  margin-top: 20px;

  &_email {
    color: $color_icon;
    text-align: center;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
  }

  &_copy {
    width: 43px;
    border-radius: 6px;
    background: $color_white;
    color: $color_icon;
    text-align: center;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.cv{
  width: 43px;
  border-radius: 6px;
  background: $color_white;
  color: $color_icon;
  text-align: center;
  font-family: Montserrat;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}